
          <ng-container [formGroup]="fundinDetails">
            <p>Please select a program or multiple programs by checking the "Apply" box below. Checking the apply box triggers the
              display of questions specific to a program or multiple programs in the Questionnaire tab.
              Note: Typically, only one (1) program is checked. However, for select RFPs, two (2) or more programs can be checked.
            </p>
            <div className="wrapper tableFixHead devbudget">
              <table className="table overviewtable table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Funding Program</th>
                    <th>Description</th>
                    <th>Funding Amount Range</th>
                    <th>Apply?</th>
                    <th>test</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cleanup and Abatement Account Program</td>
                    <td>Created by Water Code Sections 13440-13443 to provide public agencies with grants for the cleanup or
                      abatement of a condition of pollution when there are no viable responsible parties available to undertake
                      the work.</td>
                    <td>0.00 - 999,999,999.00</td>
                    <td>
                      <input (change)="fieldsChange($event)" value="angular" type="checkbox"/>
                      <!-- <Field component={FormCheckbox}
                                      type="checkbox"
                                      name="fund_request_check"
                                    
                                    /> -->
                                    
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
    </ng-container>
    