/* .AB434-CSS {
    padding: 15px 26px;
    -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    background: #fff;margin-top: 3px;
} */
.leg-space {background: #cccccc7a;
  padding: 2px 8px;
  color: #337ab7;
  float: left;
  margin-right: 2px;}
.AB434-CSS12 {    background: #cccccc2b;
    padding: 8px 0 0 0;
    border-radius: 22px 22px 0px 0px;}
.k-textbox {
   font-size: 16px;
   box-shadow: 1px 1px 5px #c3dae1;
   height: 40px;
}
.hie {display: none;}
.label.k-checkbox-label {
    font-weight: bold !important;
  }

.link:hover {
  color: blue;
  text-decoration: underline;
}
.prviewcss a{cursor: pointer;}

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background: #cccccc57;
  margin: 0 0px 2px 3px;
}
.tab-list-active {
  background-color: #3976ab;
  border: solid #337ab7;
  border-width: 1px 1px 0 1px;
  color: #fff;
}

.filebord {border-bottom: 1px solid #cccccc9c;}