
<div class="container prviewcss">
    <div class="position-relative row form-group">
        <div class="col-lg-11">
          <h4><i class="fa fa-list" aria-hidden="true"></i> View Post</h4>
       
        </div>
        <div class="col-lg-1">
            <a href="#" routerLink="/post/index" class="k-button k-primary">Back</a>
  
        </div>
  
      </div>

   
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ post.title }}</p>
    </div>
   
    <div>
        <strong>Body:</strong>
        <p>{{ post.body }}</p>
    </div>
   
</div>